.directions {
  text-align: center;
  padding: 4rem 0 2rem 0;
  width: 100%;
  background: #2e3a2a;
}

.directionsContainer {
  max-width: 1140px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 40px;
}

.directionsCard {
  background: #dbe2dd;
  padding: 1.2rem 1rem;
  border-radius: 10px;

  text-align: center;
}

.directionsCard img {
  max-width: 100%;
  max-height: 516px;
  border-radius: 10px;
}

.directionsCard h2 {
  margin-bottom: 1rem;
}

.directionsCard div {
  text-align: center;
}

.details {
  display: block;
  text-align: left;
}

.details p {
  margin: 0.5rem 0;
  color: #2e3a2a;
}

.directionName {
  color: #2e3a2a;
}

h1 {
  padding-bottom: 3rem;
}
button {
  border-radius: 12px;
  color: #485342;
  border: #c7cec9;
  transition-duration: 0.4s;
  padding: 0 2rem;
  text-align: center;
}
button:hover {
  background-color: #c7cec9;
  opacity: 0.8;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: #485342;
}

@media screen and (max-width: 740px) {
  .directionsContainer {
    margin: auto;
    grid-template-columns: 1fr;
  }
}
